
.lock-overlay
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: $color-bg;
	box-shadow: inset 0 0 300px rgba(0, 0, 0, .3);

	text-align: center;

	z-index: 9000;
}

.wallet-lock-icon
{
	height: 180px;
	width: auto;

	*
	{
		fill: $color-main;
	}
}

@include media-breakpoint-down(xs)
{
	.lock-overlay
	{
		box-shadow: inset 0 0 100px rgba(0, 0, 0, .2);
	}

	.wallet-lock-icon
	{
		height: 96px;
	}
}